*{
    box-sizing: border-box;
}
body{
    border: solid black 2px;
    border-radius: 10px;
    height: 100vh;
}

nav{
    text-align: center;
    background-color: rgb(102, 206, 250);
    border: solid black 2px;
    border-radius: 10px;
}

nav ul li{
    margin-left: 100px;
}

nav ul li{
    display: inline-block;
    font-size: 30px;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    background-color: black;
    color: white;
    padding: 5px;
    border: solid red 1px;
    border-radius: 5px;
}
